@import 'normalize.css';

html,body{
	height: 100%;
	width: 100%;
	background-color: #f5f5f5;
}

#container{
	height: 50px;
	width: 60px;
	margin-top: 10%;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	cursor: pointer;
}

#container div{
	height: 10px;
	width: 60px;
	border-radius: 9px;
	background-color: #00BFA5;
	
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

#container .top{
	margin-top: 0px;
}

#container .middle, #container .bottom{
	margin-top: 10px;
}

#container.animate .top{
	margin-top: 20px;
	
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#container.animate .middle{
	opacity: 0;
}
#container.animate .bottom{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	
	margin-top: -30px;
}